@model IEnumerable<TestTaskServer.Models.Info>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComputerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiskCFreeSpace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateTimestamp)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ComputerName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DiskCFreeSpace)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UpdateTimestamp)
    </td>
</tr>
}

</table>
